body {
    font-family: calibri;
    background-color: #1b3241 ;
    color: white;
}

h1{
    text-align: center;
    font-size: 500%;
}

.canvas{
    width: 50%;
    margin-left: 25%;
    border:solid azure;
}

.perdu{
    text-align: center;
    display: none;
}

.gagne{
    margin-top : -20%;
    text-align: center;
    display: none;
}

.btn{
    border: none;
    background-color: #5b7889;
    width: 150px;
    height: 100px;
    font-size: 125%;
}

.btn:hover{
    background-color: #555d79;
}

@media screen and (max-width: 1000px) {
    .canvas{
        width: 90%;
        margin-left: 5%;
        border:solid azure;
    }
}